name: CI - Calidad de Codigo y Tests

# ¿Cuándo se ejecuta? Al hacer push a la rama main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-code:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Bajar el código del repo
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Instalar Python
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # 3. Instalar librerías
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

    # 4. Ejecutar Pruebas Unitarias (TDD)
    # Esto valida tu lógica de preprocess.py sin necesitar Azure
    - name: Run Unit Tests
      run: |
        pytest tests/